/*body {
  margin: 0;
  padding: 32px;
  background: #000;
  color: #fff;
}*/

/*body .page-container {
  width: 800px;
  padding: 20px 32px;
  margin: 0 auto;
  background-color: black;
};*/
.App {
	margin: 0;
	background: #5D5D5D;
  color: #fff;
}